.app {
    display: flex; 
   justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.board-container {
  display:flex;
  align-items: center;
  justify-content: center;  
    margin: 20px;
}