.container{

  text-align:center;

}


.board{

  display:grid;

  grid-template-columns: repeat(3,100px);

  justify-content:center;

  margin-top:20px;

}


.square{

  width:100px;

  height:100px;

  border:2px solid black;

  display:flex;

  justify-content:center;

  align-items:center;

  font-size:30px;

  cursor:pointer;

}


.square:hover{

  background-color:lightgray;

}